<nav class="navbar navbar-dark bg-clrPicker">
    <div class="container-fluid">
      <a class="navbar-brand text-bold" href="">
        <img src="https://img.icons8.com/doodle/48/000000/puzzle--v1.png"/>
        
        <span style="font-family: 'Lobster', cursive;">Puzzle</span>
        
      </a>

      <a class="navbar-brand text-bold ml-5"  href="">
        <img src="https://img.icons8.com/external-flaticons-lineal-color-flat-icons/64/000000/external-quiz-online-education-flaticons-lineal-color-flat-icons.png"/>
        
      </a>
    </div>
  </nav>
