
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<div class="container bg-light py-5">

<h1 id="slide2">Welcome Page</h1>
<h3>Good Luck</h3>

    <div class="name col-md-3 my-4">

        <label for="">Enter your name:</label>
        <input type="text" class="form-control  myClassInput" id="thinkTank" #username>
        <p id="errorMsg">*This field is required!</p>
    </div>

    <button type="button"class="btn btn-lg bg-clrPicker" (click)="startQuiz()">Start the Quiz</button>

    </div> 

    

